/* src/components/Login.css */

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f4ff;
}

.auth-form {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 59, 149, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 25px;
  color: #003b95;
}

.auth-form input {
  width: 90%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.auth-form button {
  background: #003b95;
  color: white;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-form button:hover {
  background: #002f7a;
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
}

.auth-switch a {
  color: #003b95;
  text-decoration: none;
}

.auth-switch a:hover {
  text-decoration: underline;
}

.admin-link,
.admin-back {
  color: #003b95;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

